:root {
    --yellow: #f9dc64;
    --orange: #FF553E;
    --purple: #b5008E;
    --blue: #3023AE;
    --blue-alpha: #3023AE1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body,
html {
    overflow: hidden;
}

.container-slider,
.container-navigation,
.container-main {
    max-width: 2560px;
}

/* Header */

.header-index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-navigation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    max-height: 1300px;
}

/* Navegação */

.navigation {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #0db75f; */
}

.logotipo {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

/* .logotipo img {
    width: 48px;
    height: 48px;
} */

.nav-padding {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10%;
}

.ul-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.link-item a {
    color: #0db75f;
    transition: 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
}

.link-item a:hover {
    background-color: #0db75f;
    color: #FFFFFF;
}

.link-item.selected a {
    background-color: #0db75f;
    color: #FFFFFF;
}

/* Media */

.container-media {
    position: absolute;
    z-index: 99;
    left: 2%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.media-item {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    /* background-color: #0db75f; */
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: all 400ms;
    position: relative;
}

.media-item-img {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #0db75f;
    justify-content: center;
    flex-shrink: 0;
    transition: all 400ms;
    border-radius: 15px;
    z-index: 99;
}

.media-span {
    position: absolute;
    left: 30px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.media-span span {
    margin-left: 25px;
}

.media-item-img img {
    width: 30px;
}

/* .media-item:hover .media-item-img {
    background-color: #FFFFFF;
} */

.media-item:hover {
    width: 150px;
}

.media-item:hover .media-instagram {
    /* content: url(../img/media/vetor_instagram_dark.svg); */
    background-image: radial-gradient(circle at bottom left, var(--yellow), var(--orange), var(--purple));
}

.media-item:hover .media-linkedin {
    /* content: url(../img/media/vetor_linkedin_dark.svg); */
    background-color: #117EB8;
}

.media-item:hover .media-twitter {
    /* content: url(../img/media/vetor_X_dark.svg); */
    background-color: #000000;
}

.media-item span {
    padding: 5px 10px;
    color: #000000;
    font-weight: 500;
}

/* Conteúdo principal */

.main-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main {
    width: 100%;
}

.container-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    transition: transform 0.5s ease;
}

.slide-limit {
    max-height: 1300px;
    padding: 100px 14%;
}

.container-about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
}

.we500 {
    font-weight: 500;
}

.span-green {
    color: #0db75f;
}

.buttons-about {
    display: flex;
    gap: 30px;
}

.buttons-about button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #0db75f;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.buttons-about button a {
    color: #0db75f;
    transition: 0.4s ease-in-out;
}

.buttons-about button:hover {
    background-color: #0db75f;
}

.buttons-about button:hover a {
    color: #FFFFFF;
}