/* Variables */
:root {
    --yellow: #f9dc64;
    --orange: #FF553E;
    --purple: #b5008E;
    --blue: #3023AE;
    --blue-alpha: #3023AE1f;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Global Styles */
body,
html {
    overflow: hidden;
}

.container-slider,
.container-navigation,
.container-main {
    max-width: 2560px;
}

h1 {
    text-transform: uppercase;
}

/* Header */
.header-index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-navigation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    max-height: 1300px;
}

/* Navegação */
.navigation {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #0db75f; */
}

.logotipo {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.logotipo.mobile {
    display: none;
}

/* .logotipo img {
    width: 48px;
    height: 48px;
} */

.nav-padding {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 2%;
}

.ul-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link-item a {
    color: #0db75f;
    transition: 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.link-item a:hover {
    background-color: #0db75f;
    color: #FFFFFF;
}

.link-item.selected a {
    background-color: #0db75f;
    color: #FFFFFF;
}

/* Media */
.container-media {
    position: absolute;
    z-index: 99;
    left: 2%;
    bottom: 3%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.media-item {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    /* background-color: #0db75f; */
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: all 400ms;
    position: relative;
}

.media-item-img {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #0db75f;
    justify-content: center;
    flex-shrink: 0;
    transition: all 400ms;
    border-radius: 10px;
    z-index: 99;
}

.media-span {
    position: absolute;
    left: 30px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.media-span span {
    margin-left: 25px;
}

.media-item-img img {
    width: 24px;
}

/* .media-item:hover .media-item-img {
    background-color: #FFFFFF;
} */

.media-item:hover {
    width: 150px;
}

.media-item:hover .media-instagram {
    /* content: url(../img/media/vetor_instagram_dark.svg); */
    background-image: radial-gradient(circle at bottom left, var(--yellow), var(--orange), var(--purple));
}

.media-item:hover .media-linkedin {
    /* content: url(../img/media/vetor_linkedin_dark.svg); */
    background-color: #117EB8;
}

.media-item:hover .media-twitter {
    /* content: url(../img/media/vetor_X_dark.svg); */
    background-color: #000000;
}

.media-item span {
    padding: 5px 10px;
    color: #000000;
    font-weight: 500;
}

/* Menu Mobile */
.navigation-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    z-index: 999999;
    display: none;
    padding-bottom: 34px;
}

.nav-links-mobile {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0DB75F;
}

.ul-links-mobile {
    display: flex;
    width: auto;
}

.link-item-mobile {
    position: relative;
    width: 70px;
    height: 70px;
}

.link-item-mobile a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    z-index: 9;
}

.link-item-mobile.active a .icon {
    transform: translateY(35px);
}

.link-item-mobile a .text {
    position: absolute;
    padding-bottom: 8px;
    font-size: 0.90em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
}

.link-item-mobile.active a .text {
    opacity: 1;
    transform: translateY(-10px);
}

.indicator {
    position: absolute;
    bottom: -50%;
    width: 70px;
    height: 70px;
    background-color: #0DB75F;
    border-radius: 50%;
    border: 6px solid #FFFFFF;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #ffffff;
    transform: rotate(180deg);
}

.indicator::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #ffffff;
    transform: rotate(180deg);
}

.link-item-mobile:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.link-item-mobile:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.link-item-mobile:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.link-item-mobile:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}


/* Conteúdo principal */
.main-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main {
    width: 100%;
}

.container-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.slide {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: transform 0.5s ease;
}

.slide-limit {
    max-height: 1300px;
    padding: 100px 14%;
    overflow-y: scroll;
}

/* About Section */
.container-about {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.about-photo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-seta {
    position: absolute;
    z-index: 99999;
    width: 42px;
    height: 42px;
    background-color: #0db75f;
    border-radius: 20px;
    bottom: 10px;
    right: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveSeta 2s infinite ease-in-out;
}

.button-seta span {
    width: 4px;
    height: 18px;
    margin: 3px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.button-seta span:nth-of-type(1) {
    transform: rotate(-45deg);
}

.button-seta span:nth-child(2) {
    transform: rotate(45deg);
}

@keyframes moveSeta {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.content-about,
.content-photo {
    padding-top: 50px;
}

.content-about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
}

.text-about h1 {
    text-transform: uppercase;
}

.we500 {
    font-weight: 500;
}

.span-green {
    color: #0db75f;
}

.text-years-projects {
    display: flex;
    gap: 20px;
}

.text-years {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-projects {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-years h1,
.text-projects h1 {
    font-size: 2.2rem;
}

.buttons-about {
    display: flex;
    gap: 30px;
}

.buttons-about button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #0db75f;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.buttons-about button a {
    color: #0db75f;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.buttons-about button a img {
    width: 20px;
    height: 20px;
}

.buttons-about button:hover {
    background-color: #0db75f;
}

.buttons-about button:hover a {
    color: #FFFFFF;
}

.buttons-about button:nth-child(1):hover a img {
    content: url(../img/media/github_white.svg);
}

.buttons-about button:nth-child(2):hover a img {
    content: url(../img/media/cv_white.svg);
}

.about-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-desc span {
    text-align: justify;
}

.scroll {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrolldown {
    position: absolute;
    bottom: -80px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%) rotate(225deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #0DB75F;
    border-right: 2px solid #0DB75F;
    opacity: 0;
    animation: animate 1.5s linear infinite;
}

.scrolldown span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
    transform: translate(-0, -0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }

    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }

    50%,
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/* Skills Section */
.container-skills {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.container-skills h1 {
    color: #0db75f;
    padding-top: 50px;
}

.span-black {
    color: #000000;
}

.cards-skills {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card-skill {
    width: 225px;
    border-radius: 5px;
    border: 2px solid #0db75f;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-sup {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sup h1 {
    color: #0db75f;
    text-align: center;
    padding: 0;
    /* text-transform: uppercase; */
}

.card-desc {
    height: 225px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-item span {
    color: #000000;
}

.card-item img {
    width: 36px;
}

.text-skill {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-skill h1 {
    padding: 0;
}

.text-skill span {
    text-align: justify;
}

/* Projects Section */
.container-projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.content-projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    padding: 30px 0 0 0;
}

.project-carousel {
    display: flex;
    flex-direction: column;
}

.content-carousel-limit {
    width: 690px;
    overflow: hidden;
    padding: 30px 15px;
    display: flex;
}

.content-carousel {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    flex-shrink: 0;
    transition: all 900ms;
}

.model-project {
    width: 200px;
    height: 280px;
    background-color: #0DB75F;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition: all 700ms;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 5px;
}

.model-project img {
    width: 100%;
}

.model-project:hover {
    background-color: rgba(0, 0, 0, .5);
}

.model-project::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 130%);
}

.model-project .access-text {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-project:hover .access-text {
    opacity: 1;
}

/* Buttons Carousel */
.content-carousel-btns {
    padding: 0 15px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.prevBtnCarousel,
.nextBtnCarousel {
    background-color: #0DB75F;
    padding: 3px 10px;
    width: 85px;
    border: 0;
}

.prevBtnCarousel:hover,
.nextBtnCarousel:hover,
.thanks button:hover {
    background-color: #0db75fdc;
    color: #FFFFFF;
}

.line-hor {
    width: 430px;
    height: 3px;
    background-color: #0DB75F;
}

.btn {
    border: 2px solid #0DB75F;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    color: #0DB75F;
    transition: ease-in-out .4s;
    font-weight: 500;
}

/* Contact Section */
.container-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-desc span {
    max-width: 390px;
}

.contact-desc .media-links {
    display: none;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-contact-form {
    padding-left: 20px;
}

.contact-form {
    width: 350px;
    height: auto;
}

.contact-form fieldset {
    border: 3px solid #0DB75F;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
}

.contact-form legend {
    padding: 4px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

.contact-form h1 {
    text-align: center;
    /* margin-bottom: 20px; */
    color: #0DB75F;
}

.error {
    font-size: 0.9rem;
    color: red;
}

.input-label {
    position: relative;
}

.input-label,
.btn-submit-contact {
    margin-bottom: 5px;

}

.input-label input,
.input-label textarea {
    width: 100%;
    height: 50px;
    padding: 15px 21px 0 21px;
    outline: none;
    background-color: transparent;
    border: 2px solid #0DB75F;
    border-radius: 10px;
    font-size: 1rem;
}

.input-label textarea {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
    padding: 20px 21px 8px 21px;
}

.input-label label {
    position: absolute;
    left: 20px;
    top: 13px;
    font-size: 1rem;
    transition: 0.1s ease-in-out;
    background-color: transparent;
    user-select: none;
}

.input-label input:focus+label,
.input-label input:valid+label,
.input-label textarea:focus+label,
.input-label textarea:valid+label {
    transform: translateY(-8px);
    font-size: 0.8rem;
    color: #0DB75F;
}

.area-button-contact {
    width: 100%;
    text-align: center;
}

.btn-submit-contact {
    width: 100%;
    background-color: #0DB75F;
    color: #FFFFFF;
}

#name.error,
#email.error,
#message.error {
    border-color: red;
}

#nameLabel.error,
#emailLabel.error,
#messageLabel.error {
    color: red;
}

.media-links-contact {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.media-links-contact a {
    color: #0DB75F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 6px 8px;
    width: 120px;
}

.media-links-contact a img {
    width: 20px;
}

.media-links-contact a:hover {
    background-color: #0DB75F;
    color: #FFFFFF;
}

.media-links-contact a:hover:nth-child(1) img {
    content: url('../img/contact/vetor_linkedin_white.svg');
}

.media-links-contact a:hover:nth-child(2) img {
    content: url('../img/contact/vetor_instagram_white.svg');
}

.media-links-contact a:hover:nth-child(3) img {
    content: url('../img/contact/vetor_X_white.svg');
}

/* Modal Contact */
.modal-contact-thanks {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, .5);
}

.modal-contact-thanks.active {
    display: block;
}

.content-thanks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks {
    width: 600px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.thanks.active {
    opacity: 1;
}

.thanks-desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transition: 0.6s ease-in-out;
    text-align: center;
}

.thanks-desc.active {
    opacity: 1;
}

.container-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.container-loading.active {
    opacity: 1;
}

.container-loading.disable {
    display: none;
}

.text-loading h1 {
    color: #0DB75F;
    margin-bottom: 25px;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid #0DB75F;
    border-radius: 15px;
}

.line-loading {
    height: 100%;
    border-radius: 15px;
    background-color: #0DB75F;
    animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }

    10% {
        width: 0%;
    }

    50% {
        width: 30%;
        animation-timing-function: ease-in;
    }

    100% {
        width: 100%;
        animation-timing-function: linear;
    }
}

/* Responsive Styles */
@media (min-width: 2600px) {

    .slide-limit,
    .container-navigation {
        max-height: 1410px;
    }

    .container-slider,
    .container-navigation,
    .container-main {
        max-width: 2820px;
    }

    .slide-limit {
        padding: 100px 20%;
    }

}

@media (min-width: 2300px) {
    .text-about {
        max-width: 500px;
    }

    .text-about span,
    .about-desc span,
    .link-item a,
    .card-item span,
    .text-skill span,
    .project-desc span,
    .contact-desc span,
    .input-label label {
        font-size: 1.3rem;
    }

    .text-about h1,
    .text-about h1 span,
    .about-desc h1,
    .about-desc h1 span,
    .container-skills h1,
    .container-skills h1 span,
    .project-desc h1,
    .project-desc h1 span,
    .content-contact h1,
    .container-contact h1 span {
        font-size: 2.5rem;
    }

    .container-about {
        gap: 80px;
    }

    .text-years h1,
    .text-projects h1 {
        font-size: 3rem;
    }

    .buttons-about button,
    .btn {
        width: 135px;
        height: 50px;
        font-size: 1.3rem;
    }

    .buttons-about button a img {
        width: 28px;
        height: 28px;
    }

    .content-photo img {
        width: 400px;
    }

    .media-item-img,
    .media-item {
        width: 60px;
        height: 60px;
    }

    .media-item:hover {
        width: 190px;
    }

    .media-item-img img {
        width: auto;
    }

    .card-item img {
        width: 44px;
    }

    .card-skill {
        width: 260px;
    }

    .card-sup {
        height: 120px;
    }

    .card-desc {
        height: 250px;
    }

    .media-item span {
        padding: 5px 30px;
        font-size: 1.3rem;
    }

    .model-project {
        width: 300px;
        height: 420px;
    }

    .content-carousel-limit {
        width: 990px;
    }

    .line-hor {
        width: 630px;
    }

    .access-text span {
        font-size: 1.8rem;
    }

    .contact-email img {
        width: 30px;
    }

    .contact-form {
        width: 450px;
    }

    .error {
        font-size: 1.1rem;
    }

    .btn-submit-contact {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .container-skills {
        justify-content: center;
        gap: 60px;
    }
}

@media (max-width: 1300px) {
    .container-media {
        display: none;
    }

    .media-links-contact {
        display: flex;
    }

    .content-about,
    .content-photo,
    .container-skills h1,
    .content-contact {
        padding-top: 20px;
    }

    .container-about,
    .container-contact,
    .container-projects {
        justify-content: flex-start;
    }

    .slide-limit {
        padding: 100px 6%;
        /* overflow: auto; */
    }

    .model-project {
        width: 140px;
        height: 200px;
    }

    .content-carousel-limit {
        width: 510px;
    }

    .line-hor {
        width: 250px;
    }
}

@media (max-width: 900px) {
    .content-projects {
        flex-wrap: wrap;
    }

    .project-carousel {
        width: 100%;
        align-items: center;
    }

    .media-links-contact {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 750px) {
    .button-seta {
        display: none;
    }

    .navigation-mobile {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .slide-limit {
        padding: 120px 6% 15% 6%;
    }

    .container-about.slide-limit {
        margin-bottom: 60px;
    }

    .content-about,
    .content-photo,
    .container-skills h1,
    .content-contact,
    .project-desc {
        padding-top: 0px;
    }

    .logotipo.mobile {
        display: block;
    }

    .about-photo {
        flex-wrap: wrap;
        gap: 30px;
    }

    .content-photo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-carousel-limit {
        width: 340px;
    }

    .line-hor {
        display: none;
    }

    /* .container-projects {
        justify-content: center;
    } */

    .content-contact {
        flex-wrap: wrap;
        gap: 30px;
    }

    .container-contact-form {
        padding-left: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .thanks {
        width: 90%;
    }
}
